>우리가 놓치고 있는 중요한 고객의 패턴 확인  
혹은 새로운 기준에 따라 유저 그룹화  
특정 기준에 따라 군집화. 군집별 인사이트 도출 -> 서비스 반영에 대한 방향성 제시

주제
- 데이터셋 현황 파악
- 다양한 조건(군집갯수, 컬럼갯수)을 통해 결과를 비교
- 군집(클러스터)별로 유의미한 특징을 살펴보고 이를 시각화
- 군집별 인사이트를 제시

설명
- 각 테이블을 결합하여, 클러스터링을 위한 하나의 데이터셋으로 
- 이상치 처리 기법을 활용하거나, 특정 기준을 세워 이상치를 정의 하고 그 이유를 설명
- 클러스터링시, 초기 군집의 갯수와 사용할 컬럼의 갯수는 python 머신러닝 라이브러리를 활용
- 컬럼별 raw data 분포 시각화
- 컬럼 간 상관계수를 히트맵 차트로 구현해주세요.  
(유의미한 기준은 +0.6(양의 상관관계) 또는 -0.6(음의 상관관계)으로 판단해주시면 됩니다) 

선택사항
- 필요하다면 파생변수를 생성
- 표준화 방법을 여러가지 사용해보시고, 비교해주셔도 됩니다.
- 범주형 데이터를 사용할 경우, 인코딩을 진행해주세요. 원-핫 인코딩/라벨인코딩 모두 사용해도 됩니다.  
다만, 범주의 갯수가 많은 경우, 별도 세그멘테이션이 필요할 수 있겠습니다. 의미있는 기준을 세워주시고 그 값을 인코딩 진행해주세요.  
(예시: 국가가 100개인 경우 육대륙으로 나누어 인코딩). 참고자료: https://nicola-ml.tistory.com/62#google_vignette   
- 분석 결과를 한 눈에 파악할 수 있도록 datapane 으로 리포트를 구현

# 데이터 불러오기

In [ ]:
# !kaggle datasets download -d quangvinhhuynh/marketing-and-retail-analyst-e-comerce

In [ ]:
# import shutil

# filename = 'marketing-and-retail-analyst-e-comerce.zip' # 압축 해제할 파일 이름
# extrac_dir = 'dataset' # 압축 해제할 폴더 이름
# archive_format = 'zip' # 압축 파일 형태

# shutil.unpack_archive(filename, extrac_dir, archive_format)

# import os

# # 파일들이 있는 폴더명으로 폴더내 파일 목록 확인
# os.listdir('dataset/')

# import

In [ ]:
import pandas as pd
import seaborn as sns

In [ ]:
# dataset = pd.read_excel('데이터셋/Retail_dataset.xlsx', sheet_name = None)
# dataset

In [ ]:
customers= pd.read_csv('dataset/customers.csv')
orders= pd.read_csv('dataset/orders.csv')
order_items= pd.read_csv('dataset/order_items.csv')
payments= pd.read_csv('dataset/payments.csv')
products= pd.read_csv('dataset/products.csv')

customers 파악

In [ ]:
# customers = pd.read_excel('dataset/Retail_dataset.xlsx', sheet_name= 'customers')
# customers.equals(customers_csv)
# -- 결과 True 나옴
customers.head(3)

,customer_id,customer_zip_code_prefix,customer_city,customer_state
0,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP

- customer_zip_code_prefix
: 고객 우편번호 접두사
- customer_city
: 도시
- customer_state
: 주

--> 브라질

In [ ]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_zip_code_prefix  99441 non-null  int64
 2   customer_city             99441 non-null  object
 3   customer_state            99441 non-null  object
dtypes: int64(1), object(3)
memory usage: 3.0+ MB

In [ ]:
customers['customer_zip_code_prefix'].value_counts()
customers['customer_zip_code_prefix'].unique()
customers['customer_zip_code_prefix'].nunique()
customers['customer_zip_code_prefix'].value_counts()

customer_zip_code_prefix
22790    142
24220    124
22793    121
24230    117
22775    110
        ...
35698      1
99370      1
64808      1
60876      1
99043      1
Name: count, Length: 14994, dtype: int64

In [ ]:
customers[customers['customer_zip_code_prefix'] == 9790]
# 우편번호를 알면 state를 알 수 있음 (우편번호 맨 앞자리로)

,customer_id,customer_zip_code_prefix,customer_city,customer_state
1,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
8375,d62a4aa312159ff0bb1266d53a891f47,9790,sao bernardo do campo,SP
14443,7fd9feb1225a53711abe04e7c2b1348d,9790,sao bernardo do campo,SP
15996,0a58eee37208a659eba0b9d8fbb373d4,9790,sao bernardo do campo,SP
18060,46d8cbad99a81795a10171a0db3a0def,9790,sao bernardo do campo,SP
19467,7fb1599a88a6b7d15f100b29908d25bd,9790,sao bernardo do campo,SP
20260,de0a38ba2aba5b3c8466302afe76508c,9790,sao bernardo do campo,SP
21405,83048e04387482dd32e70974b6f656b5,9790,sao bernardo do campo,SP
36126,5c4532e92c92ee3c58cd84d7eb15e0be,9790,sao bernardo do campo,SP
39257,07764275128858358b70ccccaa68d3a4,9790,sao bernardo do campo,SP
40717,0129d48dce554d95f641d01eaa88904a,9790,sao bernardo do campo,SP
47027,a36ee442cfdb8a3ffad0927508c4205e,9790,sao bernardo do campo,SP
54453,5397ad82386afca0aad93e8c247afb68,9790,sao bernardo do campo,SP
56354,41d46af955f5d04d7b0dcd7bab7736b6,9790,sao bernardo do campo,SP
69024,a069914e4670f00ee7d2e9d70584d1f7,9790,sao bernardo do campo,SP
71006,6ff2b31b4f80df6b9788d08a13de9ba0,9790,sao bernardo do campo,SP
72958,92bdba5468727361c12ee22b41ebaefc,9790,sao bernardo do campo,SP
78451,3f3e4f00e65a3ae4e3731cef10c91bb6,9790,sao bernardo do campo,SP
83649,ee4d047e8cf84484bdb439da5c3fd3f8,9790,sao bernardo do campo,SP

In [ ]:
customers['customer_city'].value_counts()

customer_city
sao paulo            15540
rio de janeiro        6882
belo horizonte        2773
brasilia              2131
curitiba              1521
                     ...
bequimao                 1
andarai                  1
vargem grande            1
curvelandia              1
eugenio de castro        1
Name: count, Length: 4119, dtype: int64

In [ ]:
customers['customer_state'].value_counts()
customers['customer_state'].nunique() # 27개
customers['customer_state'].value_counts()
# 9만 9천개 가량의 데이터가 있는데 약 4만개가 상파울루

customer_state
SP    41746
RJ    12852
MG    11635
RS     5466
PR     5045
SC     3637
BA     3380
DF     2140
ES     2033
GO     2020
PE     1652
CE     1336
PA      975
MT      907
MA      747
MS      715
PB      536
PI      495
RN      485
AL      413
SE      350
TO      280
RO      253
AM      148
AC       81
AP       68
RR       46
Name: count, dtype: int64

관광지이거나 브라질내에서 유명한 장소 -- 1 2 3등이 전부 관광지?  
+ 각 데이터 분포