In [1]:
import pandas as pd

pd.describe_option()
pd.set_option('display.max_columns',None)

customers_df= pd.read_csv('dataset/customers.csv')
orders_df= pd.read_csv('dataset/orders.csv')
order_items_df= pd.read_csv('dataset/order_items.csv')
payments_df= pd.read_csv('dataset/payments.csv')
products_df= pd.read_csv('dataset/products.csv')

compute.use_bottleneck : bool
    Use the bottleneck library to accelerate if it is installed,
    the default is True
    Valid values: False,True
    [default: True] [currently: True]
compute.use_numba : bool
    Use the numba engine option for select operations if it is installed,
    the default is False
    Valid values: False,True
    [default: False] [currently: False]
compute.use_numexpr : bool
    Use the numexpr library to accelerate computation if it is installed,
    the default is True
    Valid values: False,True
    [default: True] [currently: True]
display.chop_threshold : float or None
    if set to a float value, all float values smaller than the given threshold
    will be displayed as exactly 0 by repr and friends.
    [default: None] [currently: None]
display.colheader_justify : 'left'/'right'
    Controls the justification of column headers. used by DataFrameFormatter.
    [default: right] [currently: right]
display.date_dayfirst : boolean
    When True, prints and parses dates with the day first, eg 20/01/2005
    [default: False] [currently: False]
display.date_yearfirst : boolean
    When True, prints and parses dates with the year first, eg 2005/01/20
    [default: False] [currently: False]
display.encoding : str/unicode
    Defaults to the detected encoding of the console.
    Specifies the encoding to be used for strings returned by to_string,
    these are generally strings meant to be displayed on the console.
    [default: UTF-8] [currently: UTF-8]
display.expand_frame_repr : boolean
    Whether to print out the full DataFrame repr for wide DataFrames across
    multiple lines, `max_columns` is still respected, but the output will
    wrap-around across multiple "pages" if its width exceeds `display.width`.
    [default: True] [currently: True]
display.float_format : callable
    The callable should accept a floating point number and return
    a string with the desired format of the number. This is used
    in some places like SeriesFormatter.
    See formats.format.EngFormatter for an example.
    [default: None] [currently: None]
display.html.border : int
    A ``border=value`` attribute is inserted in the ``<table>`` tag
    for the DataFrame HTML repr.
    [default: 1] [currently: 1]
display.html.table_schema : boolean
    Whether to publish a Table Schema representation for frontends
    that support it.
    (default: False)
    [default: False] [currently: False]
display.html.use_mathjax : boolean
    When True, Jupyter notebook will process table contents using MathJax,
    rendering mathematical expressions enclosed by the dollar symbol.
    (default: True)
    [default: True] [currently: True]
display.large_repr : 'truncate'/'info'
    For DataFrames exceeding max_rows/max_cols, the repr (and HTML repr) can
    show a truncated table, or switch to the view from
    df.info() (the behaviour in earlier versions of pandas).
    [default: truncate] [currently: truncate]
display.max_categories : int
    This sets the maximum number of categories pandas should output when
    printing out a `Categorical` or a Series of dtype "category".
    [default: 8] [currently: 8]
display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 or None and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection and defaults to 20.
    [default: 20] [currently: 20]
display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 50]
display.max_dir_items : int
    The number of items that will be added to `dir(...)`. 'None' value means
    unlimited. Because dir is cached, changing this option will not immediately
    affect already existing dataframes until a column is deleted or added.

    This is for instance used to suggest columns from a dataframe to tab
    completion.
    [default: 100] [currently: 100]
display.max_info_columns : int
    max_info_columns is used in DataFrame.info method to decide if
    per column information will be printed.
    [default: 100] [currently: 100]
display.max_info_rows : int
    df.info() will usually show null-counts for each column.
    For large frames this can be quite slow. max_info_rows and max_info_cols
    limit this null check only to frames with smaller dimensions than
    specified.
    [default: 1690785] [currently: 1690785]
display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 60]
display.max_seq_items : int or None
    When pretty-printing a long sequence, no more then `max_seq_items`
    will be printed. If items are omitted, they will be denoted by the
    addition of "..." to the resulting string.

    If set to None, the number of items to be printed is unlimited.
    [default: 100] [currently: 100]
display.memory_usage : bool, string or None
    This specifies if the memory usage of a DataFrame should be displayed when
    df.info() is called. Valid values True,False,'deep'
    [default: True] [currently: True]
display.min_rows : int
    The numbers of rows to show in a truncated view (when `max_rows` is
    exceeded). Ignored when `max_rows` is set to None or 0. When set to
    None, follows the value of `max_rows`.
    [default: 10] [currently: 10]
display.multi_sparse : boolean
    "sparsify" MultiIndex display (don't display repeated
    elements in outer levels within groups)
    [default: True] [currently: True]
display.notebook_repr_html : boolean
    When True, IPython notebook will use html representation for
    pandas objects (if it is available).
    [default: True] [currently: True]
display.pprint_nest_depth : int
    Controls the number of nested levels to process when pretty-printing
    [default: 3] [currently: 3]
display.precision : int
    Floating point output precision in terms of number of places after the
    decimal, for regular formatting as well as scientific notation. Similar
    to ``precision`` in :meth:`numpy.set_printoptions`.
    [default: 6] [currently: 6]
display.show_dimensions : boolean or 'truncate'
    Whether to print out dimensions at the end of DataFrame repr.
    If 'truncate' is specified, only print out the dimensions if the
    frame is truncated (e.g. not display all rows and/or columns)
    [default: truncate] [currently: truncate]
display.unicode.ambiguous_as_wide : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.unicode.east_asian_width : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.width : int
    Width of the display in characters. In case python/IPython is running in
    a terminal this can be set to None and pandas will correctly auto-detect
    the width.
    Note that the IPython notebook, IPython qtconsole, or IDLE do not run in a
    terminal and hence it is not possible to correctly detect the width.
    [default: 80] [currently: 80]
future.infer_string Whether to infer sequence of str objects as pyarrow string dtype, which will be the default in pandas 3.0 (at which point this option will be deprecated).
    [default: False] [currently: False]
future.no_silent_downcasting Whether to opt-in to the future behavior which will *not* silently downcast results from Series and DataFrame `where`, `mask`, and `clip` methods. Silent downcasting will be removed in pandas 3.0 (at which point this option will be deprecated).
    [default: False] [currently: False]
io.excel.ods.reader : string
    The default Excel reader engine for 'ods' files. Available options:
    auto, odf, calamine.
    [default: auto] [currently: auto]
io.excel.ods.writer : string
    The default Excel writer engine for 'ods' files. Available options:
    auto, odf.
    [default: auto] [currently: auto]
io.excel.xls.reader : string
    The default Excel reader engine for 'xls' files. Available options:
    auto, xlrd, calamine.
    [default: auto] [currently: auto]
io.excel.xlsb.reader : string
    The default Excel reader engine for 'xlsb' files. Available options:
    auto, pyxlsb, calamine.
    [default: auto] [currently: auto]
io.excel.xlsm.reader : string
    The default Excel reader engine for 'xlsm' files. Available options:
    auto, xlrd, openpyxl, calamine.
    [default: auto] [currently: auto]
io.excel.xlsm.writer : string
    The default Excel writer engine for 'xlsm' files. Available options:
    auto, openpyxl.
    [default: auto] [currently: auto]
io.excel.xlsx.reader : string
    The default Excel reader engine for 'xlsx' files. Available options:
    auto, xlrd, openpyxl, calamine.
    [default: auto] [currently: auto]
io.excel.xlsx.writer : string
    The default Excel writer engine for 'xlsx' files. Available options:
    auto, openpyxl, xlsxwriter.
    [default: auto] [currently: auto]
io.hdf.default_format : format
    default format writing format, if None, then
    put will default to 'fixed' and append will default to 'table'
    [default: None] [currently: None]
io.hdf.dropna_table : boolean
    drop ALL nan rows when appending to a table
    [default: False] [currently: False]
io.parquet.engine : string
    The default parquet reader/writer engine. Available options:
    'auto', 'pyarrow', 'fastparquet', the default is 'auto'
    [default: auto] [currently: auto]
io.sql.engine : string
    The default sql reader/writer engine. Available options:
    'auto', 'sqlalchemy', the default is 'auto'
    [default: auto] [currently: auto]
mode.chained_assignment : string
    Raise an exception, warn, or no action if trying to use chained assignment,
    The default is warn
    [default: warn] [currently: warn]
mode.copy_on_write : bool
    Use new copy-view behaviour using Copy-on-Write. Defaults to False,
    unless overridden by the 'PANDAS_COPY_ON_WRITE' environment variable
    (if set to "1" for True, needs to be set before pandas is imported).
    [default: False] [currently: False]
mode.data_manager : string
    Internal data manager type; can be "block" or "array". Defaults to "block",
    unless overridden by the 'PANDAS_DATA_MANAGER' environment variable (needs
    to be set before pandas is imported).
    [default: block] [currently: block]
    (Deprecated, use `` instead.)
mode.sim_interactive : boolean
    Whether to simulate interactive mode for purposes of testing
    [default: False] [currently: False]
mode.string_storage : string
    The default storage for StringDtype. This option is ignored if
    ``future.infer_string`` is set to True.
    [default: python] [currently: python]
mode.use_inf_as_na : boolean
    True means treat None, NaN, INF, -INF as NA (old way),
    False means None and NaN are null, but INF, -INF are not NA
    (new way).

    This option is deprecated in pandas 2.1.0 and will be removed in 3.0.
    [default: False] [currently: False]
    (Deprecated, use `` instead.)
plotting.backend : str
    The plotting backend to use. The default value is "matplotlib", the
    backend provided with pandas. Other backends can be specified by
    providing the name of the module that implements the backend.
    [default: matplotlib] [currently: matplotlib]
plotting.matplotlib.register_converters : bool or 'auto'.
    Whether to register converters with matplotlib's units registry for
    dates, times, datetimes, and Periods. Toggling to False will remove
    the converters, restoring any converters that pandas overwrote.
    [default: auto] [currently: auto]
styler.format.decimal : str
    The character representation for the decimal separator for floats and complex.
    [default: .] [currently: .]
styler.format.escape : str, optional
    Whether to escape certain characters according to the given context; html or latex.
    [default: None] [currently: None]
styler.format.formatter : str, callable, dict, optional
    A formatter object to be used as default within ``Styler.format``.
    [default: None] [currently: None]
styler.format.na_rep : str, optional
    The string representation for values identified as missing.
    [default: None] [currently: None]
styler.format.precision : int
    The precision for floats and complex numbers.
    [default: 6] [currently: 6]
styler.format.thousands : str, optional
    The character representation for thousands separator for floats, int and complex.
    [default: None] [currently: None]
styler.html.mathjax : bool
    If False will render special CSS classes to table attributes that indicate Mathjax
    will not be used in Jupyter Notebook.
    [default: True] [currently: True]
styler.latex.environment : str
    The environment to replace ``\begin{table}``. If "longtable" is used results
    in a specific longtable environment format.
    [default: None] [currently: None]
styler.latex.hrules : bool
    Whether to add horizontal rules on top and bottom and below the headers.
    [default: False] [currently: False]
styler.latex.multicol_align : {"r", "c", "l", "naive-l", "naive-r"}
    The specifier for horizontal alignment of sparsified LaTeX multicolumns. Pipe
    decorators can also be added to non-naive values to draw vertical
    rules, e.g. "\|r" will draw a rule on the left side of right aligned merged cells.
    [default: r] [currently: r]
styler.latex.multirow_align : {"c", "t", "b"}
    The specifier for vertical alignment of sparsified LaTeX multirows.
    [default: c] [currently: c]
styler.render.encoding : str
    The encoding used for output HTML and LaTeX files.
    [default: utf-8] [currently: utf-8]
styler.render.max_columns : int, optional
    The maximum number of columns that will be rendered. May still be reduced to
    satisfy ``max_elements``, which takes precedence.
    [default: None] [currently: None]
styler.render.max_elements : int
    The maximum number of data-cell (<td>) elements that will be rendered before
    trimming will occur over columns, rows or both if needed.
    [default: 262144] [currently: 262144]
styler.render.max_rows : int, optional
    The maximum number of rows that will be rendered. May still be reduced to
    satisfy ``max_elements``, which takes precedence.
    [default: None] [currently: None]
styler.render.repr : str
    Determine which output to use in Jupyter Notebook in {"html", "latex"}.
    [default: html] [currently: html]
styler.sparse.columns : bool
    Whether to sparsify the display of hierarchical columns. Setting to False will
    display each explicit level element in a hierarchical key for each column.
    [default: True] [currently: True]
styler.sparse.index : bool
    Whether to sparsify the display of a hierarchical index. Setting to False will
    display each explicit level element in a hierarchical key for each row.
    [default: True] [currently: True]

In [2]:
# 가격 정의 - 어떤 컬럼들을 합쳐서 새로운 파생 변수로 만들었는지
# 가격 변동 있는 데이터 있는지.

# order_items_df: price shipping_charges / product_id order_item_id 
# payments_df: payment_sequential payment_installments payment_value / order_id 

#! pirce + shipping_charges + (payment_sequential 별 payment_value)

# order_item_id 가 여러개니까 order_id에 따라 병합
order_items_df[['order_id', 'order_item_id', 'price', 'shipping_charges']]
order_items_grouped_order_id= order_items_df.groupby('order_id').agg({
    'price': 'sum'
    , 'shipping_charges': 'sum'
}).reset_index()

order_items_grouped_order_id.head(3)

# order_items_grouped_order_id.isna().sum() 결측치 존재 X

                           order_id  price  shipping_charges
0  00010242fe8c5a6d1ba2dd792cb16214   58.9             13.29
1  00018f77f2f0320c557190d7a144bdd3  239.9             19.93
2  000229ec398224ef6ca0657da4fc703e  199.0             17.87

In [3]:
order_items_df['order_item_id'].value_counts()
order_items_df[order_items_df['order_item_id']==21]

,order_id,order_item_id,product_id,seller_id,price,shipping_charges
57317,8272b63d03f5f79c56e9e4120aec44ef,21,79ce45dbc2ea29b22b5a261bbb7b7ee7,2709af9587499e95e803a6498a5a56e9,7.8,6.57

In [4]:
print(order_items_grouped_order_id['price'].equals(order_items_df['price']))
print(order_items_grouped_order_id['shipping_charges'].equals(order_items_df['shipping_charges']))

order_items_df[order_items_df['order_id']=='8272b63d03f5f79c56e9e4120aec44ef'].price.sum()

False
False

31.799999999999997

In [5]:
order_items_grouped_order_id[order_items_grouped_order_id['order_id']=='8272b63d03f5f79c56e9e4120aec44ef']
# 각 order_id별 order_item 병합 확인

                               order_id  price  shipping_charges
50137  8272b63d03f5f79c56e9e4120aec44ef   31.8            164.37

In [8]:
# (payment_sequential 별 payment_value) 
payments_df.sort_values(by='payment_sequential').head(5)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
68490,db974c12004fe92ab344e63e8e4b995f,1,credit_card,7,104.56
68489,71db292c69a2bff7186b705046336c61,1,credit_card,3,43.68
68486,a3a334e8cd38b52f151585bfa1e22190,1,wallet,1,98.51
68485,eb270c4cbf3671961f3883e8b888571b,1,wallet,1,106.97

In [7]:
# test_df= pd.merge(order_items_df, order_items_grouped_order_id, on= 'order_id', how= 'left')
# test_df

# test1=  order_items_grouped_order_id['total_price']
# test1

KeyError: 'total_price'

In [9]:
order_items_df['order_id'].unique()

array(['00010242fe8c5a6d1ba2dd792cb16214',
       '00018f77f2f0320c557190d7a144bdd3',
       '000229ec398224ef6ca0657da4fc703e', ...,
       'fffce4705a9662cd70adb13d4a31832d',
       'fffe18544ffabc95dfada21779c9644f',
       'fffe41c64501cc87c801fd61db3f6244'], dtype=object)

In [10]:
order_items_df[order_items_df['order_id']== 'fffe18544ffabc95dfada21779c9644f']

,order_id,order_item_id,product_id,seller_id,price,shipping_charges
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,55.99,8.72

In [11]:
payments_df[payments_df['order_id']== 'fa65dad1b0e818e3ccc5cb0e39231352'].payment_value.sum()

457.99

In [12]:
# -- order_id로 그룹화
payments_grouped_order_id= payments_df.groupby('order_id').agg({
    'payment_sequential': 'sum'
    , 'payment_value': 'sum'
}).reset_index()

payments_grouped_order_id.sort_values(by='payment_sequential', ascending=False).head(3)
# 29+28+27+26+...+3+2+1 = 435

                               order_id  payment_sequential  payment_value
97261  fa65dad1b0e818e3ccc5cb0e39231352                 435         457.99
79611  ccf804e764ed5650cd8759557269dc13                 351          62.68
15577  285c2e15bebd4ac83635ccc563dc71f4                 253          40.85

In [17]:
# -- order_id로 그룹화
payments_grouped_order_id= payments_df.groupby('order_id').agg({
    'payment_sequential': 'sum',
    'payment_value': 'sum'
}).reset_index()

payments_grouped_order_id.sort_values(by='payment_sequential', ascending=False).head(3)
# 29+28+27+26+...+3+2+1 = 435

##### paymet_value_sum으로 이름 재정의

                               order_id  payment_sequential  payment_value
97261  fa65dad1b0e818e3ccc5cb0e39231352                 435         457.99
79611  ccf804e764ed5650cd8759557269dc13                 351          62.68
15577  285c2e15bebd4ac83635ccc563dc71f4                 253          40.85

In [20]:
payments_df.sort_values(by='payment_sequential').head(3)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
68490,db974c12004fe92ab344e63e8e4b995f,1,credit_card,7,104.56
68489,71db292c69a2bff7186b705046336c61,1,credit_card,3,43.68

In [ ]:
payments_grouped_order_id.isna().sum()

order_id              0
payment_sequential    0
payment_value         0
dtype: int64

In [ ]:
payments_grouped_order_id[payments_grouped_order_id['order_id']=='fa65dad1b0e818e3ccc5cb0e39231352']

                               order_id  payment_sequential  payment_value
97261  fa65dad1b0e818e3ccc5cb0e39231352                 435         457.99

In [ ]:
order_items_grouped_order_id[order_items_grouped_order_id['order_id']=='fa65dad1b0e818e3ccc5cb0e39231352']

                               order_id   price  shipping_charges
96502  fa65dad1b0e818e3ccc5cb0e39231352  392.55             65.44

In [ ]:
order_items_df['order_item_id'].value_counts()
order_items_df[order_items_df['order_item_id']==21]
order_items_df[order_items_df['order_item_id']==12]

,order_id,order_item_id,product_id,seller_id,price,shipping_charges
11943,1b15974a0141d54e36626dca3fdc731a,12,ee3d532c8a438679776d222e997606b3,8e6d7754bc7e0f22c96d255ebda59eba,100.00,10.12
19217,2c2a19b5703863c908512d135aa6accc,12,03e1c946c0ddfc58724ff262aef08dff,98dac6635aee4995d501a3972e047414,20.70,16.11
24561,37ee401157a3a0b28c9c6d0ed8c3b24b,12,d34c07a2d817ac73f4caf8c574215fed,e7d5b006eb624f13074497221eb37807,29.99,7.39
25575,3a213fcdfe7d98be74ea0dc05a8b31ae,12,a62e25e09e05e6faf31d90c6ec1aa3d1,634964b17796e64304cadf1ad3050fb7,108.00,15.52
29268,428a2f660dc84138d969ccd69a0ab6d5,12,89b190a046022486c635022524a974a8,f326006815956455b2859abd58fe7e39,65.49,16.22
43766,637617b3ffe9e2f7a2411243829226d0,12,bf44071ef18f5c9ded039681c68b1996,1f50f920176fa81dab994f9023523100,79.90,24.02
50925,73c8ab38f07dc94389065f7eba4f297a,12,422879e10f46682990de24d770e7f83d,1f50f920176fa81dab994f9023523100,59.00,13.43
57308,8272b63d03f5f79c56e9e4120aec44ef,12,270516a3f41dc035aa87d220228f844c,2709af9587499e95e803a6498a5a56e9,1.20,7.89
68196,9bdc4d4c71aa1de4606060929dee888c,12,44a5d24dd383324a421569ca697b13c2,e7d5b006eb624f13074497221eb37807,29.99,7.78
69651,9ef13efd6949e4573a18964dd1bbe7f5,12,37eb69aca8718e843d897aa7b82f462d,0b36063d5818f81ccb94b54adfaebbf5,51.00,1.20
75114,ab14fdcfbe524636d65ee38360e22ce8,12,9571759451b1d780ee7c15012ea109d4,ce27a3cc3c8cc1ea79d11e561e9bebb6,98.70,14.44
77086,af822dacd6f5cff7376413c03a388bb7,12,62995b7e571f5760017991632bbfd311,98dac6635aee4995d501a3972e047414,5.31,15.23
84669,c05d6a79e55da72ca780ce90364abed9,12,a9d9db064d4afd4458eb3e139fe29167,98dac6635aee4995d501a3972e047414,14.49,9.24

In [ ]:
order_items_df[order_items_df['order_id']=='c05d6a79e55da72ca780ce90364abed9']

,order_id,order_item_id,product_id,seller_id,price,shipping_charges
84658,c05d6a79e55da72ca780ce90364abed9,1,710b7c26b7a742f497bba45fab91a25f,98dac6635aee4995d501a3972e047414,21.15,5.54
84659,c05d6a79e55da72ca780ce90364abed9,2,a9d9db064d4afd4458eb3e139fe29167,98dac6635aee4995d501a3972e047414,14.49,9.24
84660,c05d6a79e55da72ca780ce90364abed9,3,a9d9db064d4afd4458eb3e139fe29167,98dac6635aee4995d501a3972e047414,14.49,9.24
84661,c05d6a79e55da72ca780ce90364abed9,4,710b7c26b7a742f497bba45fab91a25f,98dac6635aee4995d501a3972e047414,21.15,5.54
84662,c05d6a79e55da72ca780ce90364abed9,5,a9d9db064d4afd4458eb3e139fe29167,98dac6635aee4995d501a3972e047414,14.49,9.24
84663,c05d6a79e55da72ca780ce90364abed9,6,710b7c26b7a742f497bba45fab91a25f,98dac6635aee4995d501a3972e047414,21.15,5.54
84664,c05d6a79e55da72ca780ce90364abed9,7,a9d9db064d4afd4458eb3e139fe29167,98dac6635aee4995d501a3972e047414,14.49,9.24
84665,c05d6a79e55da72ca780ce90364abed9,8,710b7c26b7a742f497bba45fab91a25f,98dac6635aee4995d501a3972e047414,21.15,5.54
84666,c05d6a79e55da72ca780ce90364abed9,9,a9d9db064d4afd4458eb3e139fe29167,98dac6635aee4995d501a3972e047414,14.49,9.24
84667,c05d6a79e55da72ca780ce90364abed9,10,710b7c26b7a742f497bba45fab91a25f,98dac6635aee4995d501a3972e047414,21.15,5.54
84668,c05d6a79e55da72ca780ce90364abed9,11,710b7c26b7a742f497bba45fab91a25f,98dac6635aee4995d501a3972e047414,21.15,5.54
84669,c05d6a79e55da72ca780ce90364abed9,12,a9d9db064d4afd4458eb3e139fe29167,98dac6635aee4995d501a3972e047414,14.49,9.24

In [ ]:
# 설명
order_items_grouped_order_id['total_price']=order_items_grouped_order_id['price']+order_items_grouped_order_id['shipping_charges']
order_items_grouped_order_id[order_items_grouped_order_id['order_id']=='fa65dad1b0e818e3ccc5cb0e39231352']

,order_id,price,shipping_charges,total,total_price
96502,fa65dad1b0e818e3ccc5cb0e39231352,392.55,65.44,457.99,457.99

# 각 order_id로 그룹화한 price + payment_value = total_value

In [ ]:
value_grouped_df= pd.merge(order_items_grouped_order_id, payments_grouped_order_id, on= 'order_id', how= 'left')
value_grouped_df

value_grouped_df= value_grouped_df.drop(labels= 'payment_sequential', axis= 1)

In [ ]:
value_grouped_df['total_value']= value_grouped_df['price']+value_grouped_df['payment_value']
value_grouped_df['total_value_shipping']= value_grouped_df['total_value']+value_grouped_df['shipping_charges']

value_grouped_df.head()

,order_id,price,shipping_charges,payment_value,total_value,total_value_shipping
0,00010242fe8c5a6d1ba2dd792cb16214,58.90,13.29,72.19,131.09,144.38
1,00018f77f2f0320c557190d7a144bdd3,239.90,19.93,259.83,499.73,519.66
2,000229ec398224ef6ca0657da4fc703e,199.00,17.87,216.87,415.87,433.74
3,00024acbcdf0a6daa1e931b038114c75,12.99,12.79,25.78,38.77,51.56
4,00042b26cf59d7ce69dfabb4e55b4fd9,199.90,18.14,218.04,417.94,436.08

In [ ]:
value_grouped_df.isna().sum()
# ....???

order_id                0
price                   0
shipping_charges        0
payment_value           1
total_value             1
total_value_shipping    1
dtype: int64

In [ ]:
value_grouped_df= value_grouped_df[value_grouped_df['payment_value'].notna()]
value_grouped_df= value_grouped_df[value_grouped_df['total_value'].notna()]
value_grouped_df= value_grouped_df[value_grouped_df['total_value_shipping'].notna()]

value_grouped_df.isna().sum()

order_id                0
price                   0
shipping_charges        0
payment_value           0
total_value             0
total_value_shipping    0
dtype: int64

In [ ]:
value_grouped_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 98665 entries, 0 to 98665
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   order_id              98665 non-null  object
 1   price                 98665 non-null  float64
 2   shipping_charges      98665 non-null  float64
 3   payment_value         98665 non-null  float64
 4   total_value           98665 non-null  float64
 5   total_value_shipping  98665 non-null  float64
dtypes: float64(5), object(1)
memory usage: 5.3+ MB

# 가격 변동 있는 데이터 있는지.

In [ ]:
# order_items_df: product_id price 
order_items_df_price= order_items_df.groupby('product_id').agg({
    'price': 'std'
}).reset_index()

order_items_df_price['price'].value_counts()

price
0.000000     8934
7.071068      145
3.535534       59
14.142136      49
0.707107       39
             ...
12.879510       1
2.640502        1
0.487463        1
6.032856        1
0.070711        1
Name: count, Length: 4412, dtype: int64